%h1 Students
%p List of Students

- if flash[:notice].present?
  .notice= flash[:notice]

- if @students.any?
  %table{border: "1"}
    %tr
      %th Id
      %th Name
      %th email
      %th gender 
      %th Final Score Average
      %th graduate
    = render @students
- else
  %em There is no student

%br

= link_to "New Student", new_student_path

